@media (max-width: 800px) {
	.container {
		width: 80%;
		display: flex;
		flex-direction: column;
  }
  	.header {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
  }
	.logo {
		display: flex;
		order: 1;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}
  	.hero-right .roundimage {
	  display: none;
  }
	.col-3-container {
		padding-bottom: 5%;
}
	footer {
		align-items: center;
		justify-content: center;
}
}

@media (max-width: 500px) {
	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	  }
  
	  header nav a {
		border: 1px solid black;
		align-items: center;
		display: flex;
		flex-direction: column;
				
	  }
  
	  .logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
		
	  }
	  .col-container {
		display: flex;
		flex-direction: column;
	}
	  .col-3-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
